.container {
  height: 100vh;
  width: calc(100% - 300px);
}

@media (max-width: 767px) {
  .container {
    height: calc(50vh - 1px);
    width: 100%;
    transition: all 150ms ease;
  }

  .container.emptyListMobile {
    height: calc(82vh - 1px);
  }
}
